<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel = "stylesheet" type="text/css" href="/css/stylesheet.css"/>
        
        <meta charset="utf-8" />
    <title></title>
    
</head>
<body class ="bdy">
   
      <div class="contenedor"> 
        <form method="post">
                <IMG SRC="/images/logo.jpg" class="logo">
                <button id="signinBTN" class="btn">Sign in with AIESEC.net</button>       
        </form>
    </div>
</body>
</html>