<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title>AIESEC GT</title>
    <link rel="stylesheet" href="/css/header.css">
   
    {% block head %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/jsNewPost.js"></script>
    
    <script type="text/javascript" src="/js/jquery.popline.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.link.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.decoration.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.list.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.justify.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.blockformat.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.social.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.popline.backcolor.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   
    <link rel="stylesheet" type="text/css" href="/css/npost.css">
    <link rel="stylesheet" href="/css/ladda.min.css">
    <link rel="stylesheet" href="/css/alertify.core.css">     
    <link rel="stylesheet" href="/css/alertify.default.css">
    <link rel="stylesheet" type="text/css" href="/css/popclip.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/toggle-switch.css" />
    <link rel="stylesheet" type="text/css" href="/css/page.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    
    {% endblock %}
    <link rel="stylesheet" href="/css/jquery.sidr.light.css">
   
</head>
<body style="font-family: Times New Roman,Georgia,Serif;font-size:14px;">

<header class="header">
        <img src="/images/wObA1.png" width="160" height="20" />
        <label style="padding-right:40px;color:white;display:block;">{{email}}</label>
        <a id="logout" href="{{logouthref}}">Sign out</a>
        <a id="a1" href="/newpost">HOME</a>
        <a id="a2" href="/timeline">TIMELINE</a>
</header>

    {% block body %}
    
        <div class="container">
            <div class="flat-form">
                <ul class="tabs">
                    <li>
                        <a href="#login" class="active" style="color:white;">Post</a><!--"-->
                    </li>
                    <li>
                        <a href="#register" style="color:white">Metas</a>
                    </li>
                </ul>
                <div id="login" class="form-action show">
                    <h1>Post</h1>
                    <p>
                        LLena los espacios en blanco para poder publicar un post.
                    </p>
                    <form>
                        <ul>
                            <li>
                                <input id="txtTitle" style="font-weight: bolder;" type="text" placeholder="Título" />
                                <div class="lpost">  </div>
                                <div class="custom-input-file">
                                    <input class="input-file" type="file" id="files" name="files[]" multiple />
                                    ...
                                </div>

                            </li>
                            <li>
                                <div class="ipost">
                                    <output id="list" class="OutImage"></output>
                                </div>
                            </li>
                            
                            <li>
                                <div id="iddescpost" class='editor' contenteditable='true' style="height:100%;">
                                 </div>
                            </li>
                            
                            <li>
                                <button id="btnS" class="ladda-button" data-style="zoom-out">
                                    Enviar
                                </button> 
                            </li>
                        </ul>
                    </form>
                </div>
                <!--/#Metas.form-action ----------------------------------------------------------------------------------------------------------- -->
                <div id="register" class="form-action hide">
                    <h1>Metas</h1>
                    <p>
                        Ingresa una imagen de los valores de las metas despues de una descricion
                    </p>
                    <form>
                        <ul>
                            <li>
                                <input style="font-weight: bolder;" type="text" placeholder="Titulo" />
                                <div class="lpost">  </div>
                                <div class="custom-input-file">
                                    <input class="input-file" type="file" id="files2" name="files2[]" multiple />
                                    ...
                                </div>

                            </li>
                            <li>
                                <div id="ipost2" class="ipost">
                                    <output id="list2" class="OutImage"></output>
                                </div>
                            </li>
                            
                            <li>
                                <div class="textpost" placeholder="Descripcion" contenteditable='true'></div>
                            </li>
                            
                            <li>
                                <br />
                                <button id="btnS" class="ladda-button" data-style="zoom-out">
                                    Enviar
                                    </button> 
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        
        <script>
            (function ($) {
                var SHOW_CLASS = 'show',
                    HIDE_CLASS = 'hide',
                    ACTIVE_CLASS = 'active';

                $('.tabs').on('click', 'li a',

                function (e) {
                    e.preventDefault();
                    var $tab = $(this),
                    href = $tab.attr('href');

                    $('.active').removeClass(ACTIVE_CLASS);
                    $tab.addClass(ACTIVE_CLASS);

                    $('.show')
                        .removeClass(SHOW_CLASS)
                        .addClass(HIDE_CLASS)
                        .hide();

                    $(href)
                        .removeClass(HIDE_CLASS)
                        .addClass(SHOW_CLASS)
                        .hide()
                        .fadeIn(550);
                });
            })(jQuery);
        </script>

    <script src="https://apis.google.com/js/client.js?onload=init">
        function load() {
            init();
        }
    </script>
    <script src="/js/alertify.min.js"></script>
    <script src="/js/spin.min.js"></script> 
    <script src="/js/ladda.min.js"></script>
    {% endblock %}
    <script src="/js/jquery.sidr.min.js"></script>
</body>

</html>